In [1]:
import os
while not os.path.exists('.gitignore'):
	os.chdir(os.path.abspath(os.path.join('../')))
from common_imports import *

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (2.25.1)
Requirement already satisfied: pyspark in /home/consultor/.local/lib/python3.10/site-packages (3.5.3)
Requirement already satisfied: pandas in /home/consultor/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: pyarrow in /home/consultor/.local/lib/python3.10/site-packages (6.0.0)
Requirement already satisfied: matplotlib in /home/consultor/.local/lib/python3.10/site-packages (3.9.2)
Requirement already satisfied: numpy in /home/consultor/.local/lib/python3.10/site-packages (1.26.4)
Requirement already satisfied: asyncio in /home/consultor/.local/lib/python3.10/site-packages (3.4.3)
Requirement already satisfied: aiohttp in /home/consultor/.local/lib/python3.10/site-packages (3.10.8)
Requirement already satisfied: httpx in /home/consultor/.local/lib/python3.10/site-packages (0.27.2)
Requirement already satisfied: bs4 in /home/consultor/.local/lib/python3.10/site-packages (0.0.2)
Requirement already satisfied: fastparquet in /home/consultor/.local/lib/python3.10/site-packages (2024.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /home/consultor/.local/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/consultor/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/consultor/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/consultor/.local/lib/python3.10/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: packaging>=20.0 in /home/consultor/.local/lib/python3.10/site-packages (from matplotlib) (24.1)
Requirement already satisfied: cycler>=0.10 in /home/consultor/.local/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/consultor/.local/lib/python3.10/site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/consultor/.local/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib) (9.0.1)
Requirement already satisfied: yarl<2.0,>=1.12.0 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (1.13.1)
Requirement already satisfied: frozenlist>=1.1.1 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (1.4.1)
Requirement already satisfied: aiosignal>=1.1.2 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (1.3.1)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (2.4.3)
Requirement already satisfied: attrs>=17.3.0 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (24.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (4.0.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (6.1.0)
Requirement already satisfied: certifi in /usr/lib/python3/dist-packages (from httpx) (2020.6.20)
Requirement already satisfied: idna in /usr/lib/python3/dist-packages (from httpx) (3.3)
Requirement already satisfied: httpcore==1.* in /home/consultor/.local/lib/python3.10/site-packages (from httpx) (1.0.6)
Requirement already satisfied: anyio in /home/consultor/.local/lib/python3.10/site-packages (from httpx) (4.6.0)
Requirement already satisfied: sniffio in /home/consultor/.local/lib/python3.10/site-packages (from httpx) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /home/consultor/.local/lib/python3.10/site-packages (from httpcore==1.*->httpx) (0.14.0)
Requirement already satisfied: beautifulsoup4 in /home/consultor/.local/lib/python3.10/site-packages (from bs4) (4.12.3)
Requirement already satisfied: cramjam>=2.3 in /home/consultor/.local/lib/python3.10/site-packages (from fastparquet) (2.8.3)
Requirement already satisfied: fsspec in /home/consultor/.local/lib/python3.10/site-packages (from fastparquet) (2024.9.0)
Requirement already satisfied: typing-extensions>=4.1.0 in /home/consultor/.local/lib/python3.10/site-packages (from multidict<7.0,>=4.5->aiohttp) (4.11.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: exceptiongroup>=1.0.2 in /home/consultor/.local/lib/python3.10/site-packages (from anyio->httpx) (1.2.2)
Requirement already satisfied: soupsieve>1.2 in /home/consultor/.local/lib/python3.10/site-packages (from beautifulsoup4->bs4) (2.6)

In [2]:
pd.set_option('display.float_format', '{:.6f}'.format)

In [3]:
df = pd.read_csv('_data/raw/taxas-selic/selic.csv', sep=';')

In [4]:
df

            data     valor
0     04/06/1986  0,065041
1     05/06/1986  0,067397
2     06/06/1986  0,066740
3     09/06/1986  0,068247
4     10/06/1986  0,067041
...          ...       ...
9607  30/09/2024  0,040168
9608  01/10/2024  0,040168
9609  02/10/2024  0,040168
9610  03/10/2024  0,040168
9611  04/10/2024  0,040168

[9612 rows x 2 columns]

In [5]:
df['valor'] = df['valor'].str.replace(',', '.').astype(float)

In [6]:
df['data'] = pd.to_datetime(df['data'], format='%d/%m/%Y')

In [7]:
df

           data    valor
0    1986-06-04 0.065041
1    1986-06-05 0.067397
2    1986-06-06 0.066740
3    1986-06-09 0.068247
4    1986-06-10 0.067041
...         ...      ...
9607 2024-09-30 0.040168
9608 2024-10-01 0.040168
9609 2024-10-02 0.040168
9610 2024-10-03 0.040168
9611 2024-10-04 0.040168

[9612 rows x 2 columns]

In [8]:
df.to_parquet('_data/trusted/taxas-selic/df.parquet', index=False, engine='fastparquet')
df.to_parquet('_data/refined/taxas-selic/df.parquet', index=False, engine='fastparquet')

In [9]:
df.to_csv('_data/trusted/taxas-selic/df.csv', index=False)
df.to_csv('_data/refined/taxas-selic/df.csv', index=False)