In [1]:
import os
while not os.path.exists('.gitignore'):
	os.chdir(os.path.abspath(os.path.join('../')))
from common_imports import *

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (2.25.1)
Requirement already satisfied: pyspark in /home/consultor/.local/lib/python3.10/site-packages (3.5.3)
Requirement already satisfied: pandas in /home/consultor/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: pyarrow in /home/consultor/.local/lib/python3.10/site-packages (6.0.0)
Requirement already satisfied: matplotlib in /home/consultor/.local/lib/python3.10/site-packages (3.9.2)
Requirement already satisfied: numpy in /home/consultor/.local/lib/python3.10/site-packages (1.26.4)
Requirement already satisfied: asyncio in /home/consultor/.local/lib/python3.10/site-packages (3.4.3)
Requirement already satisfied: aiohttp in /home/consultor/.local/lib/python3.10/site-packages (3.10.8)
Requirement already satisfied: httpx in /home/consultor/.local/lib/python3.10/site-packages (0.27.2)
Requirement already satisfied: bs4 in /home/consultor/.local/lib/python3.10/site-packages (0.0.2)
Requirement already satisfied: fastparquet in /home/consultor/.local/lib/python3.10/site-packages (2024.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /home/consultor/.local/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/consultor/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/consultor/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib) (9.0.1)
Requirement already satisfied: packaging>=20.0 in /home/consultor/.local/lib/python3.10/site-packages (from matplotlib) (24.1)
Requirement already satisfied: cycler>=0.10 in /home/consultor/.local/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/consultor/.local/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/consultor/.local/lib/python3.10/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/consultor/.local/lib/python3.10/site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: yarl<2.0,>=1.12.0 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (1.13.1)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (2.4.3)
Requirement already satisfied: aiosignal>=1.1.2 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (1.3.1)
Requirement already satisfied: frozenlist>=1.1.1 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (1.4.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (4.0.3)
Requirement already satisfied: attrs>=17.3.0 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (24.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/consultor/.local/lib/python3.10/site-packages (from aiohttp) (6.1.0)
Requirement already satisfied: anyio in /home/consultor/.local/lib/python3.10/site-packages (from httpx) (4.6.0)
Requirement already satisfied: httpcore==1.* in /home/consultor/.local/lib/python3.10/site-packages (from httpx) (1.0.6)
Requirement already satisfied: certifi in /usr/lib/python3/dist-packages (from httpx) (2020.6.20)
Requirement already satisfied: sniffio in /home/consultor/.local/lib/python3.10/site-packages (from httpx) (1.3.1)
Requirement already satisfied: idna in /usr/lib/python3/dist-packages (from httpx) (3.3)
Requirement already satisfied: h11<0.15,>=0.13 in /home/consultor/.local/lib/python3.10/site-packages (from httpcore==1.*->httpx) (0.14.0)
Requirement already satisfied: beautifulsoup4 in /home/consultor/.local/lib/python3.10/site-packages (from bs4) (4.12.3)
Requirement already satisfied: cramjam>=2.3 in /home/consultor/.local/lib/python3.10/site-packages (from fastparquet) (2.8.3)
Requirement already satisfied: fsspec in /home/consultor/.local/lib/python3.10/site-packages (from fastparquet) (2024.9.0)
Requirement already satisfied: typing-extensions>=4.1.0 in /home/consultor/.local/lib/python3.10/site-packages (from multidict<7.0,>=4.5->aiohttp) (4.11.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: exceptiongroup>=1.0.2 in /home/consultor/.local/lib/python3.10/site-packages (from anyio->httpx) (1.2.2)
Requirement already satisfied: soupsieve>1.2 in /home/consultor/.local/lib/python3.10/site-packages (from beautifulsoup4->bs4) (2.6)

In [2]:
df = pd.read_csv('_data/raw/taxas-inflacao/bcb_metas_inflacao.csv', sep=';')

In [3]:
df

,Ano,Norma,Data,Meta (%),Tamanhodo intervalo +/- (p.p.),Intervalode tolerância (%),"Inflação efetiva(Variação do IPCA, %)"
0,A partir de jan/2025***,Resolução CMN nº 5.141**,26/6/2024,"3,00","1,50","1,50-4,50",NaN
1,2024,Resolução CMN nº 4.918,24/6/2021,"3,00","1,50","1,50-4,50",NaN
2,2023,Resolução CMN nº 4.831,25/6/2020,"3,25","1,50","1,75-4,75","4,62"
3,2022,Resolução CMN nº 4.724,27/6/2019,"3,50","1,50","2,00-5,00","5,79"
4,2021,Resolução CMN nº 4.671,26/6/2018,"3,75","1,50","2,25-5,25","10,06"
5,2020,Resolução CMN nº 4.582,29/6/2017,"4,00","1,50","2,50-5,50","4,52"
6,2019,Resolução CMN nº 4.582,29/6/2017,"4,25","1,50","2,75-5,75","4,31"
7,2018,Resolução CMN nº 4.499,30/6/2016,"4,5","1,5","3,0-6,0","3,75"
8,2017,Resolução CMN nº 4.419,25/6/2015,"4,5","1,5","3,0-6,0","2,95"
9,2016,Resolução CMN nº 4.345,25/6/2014,"4,5","2,0","2,5-6,5","6,29"
10,2015,Resolução CMN nº 4.237,28/6/2013,"4,5","2,0","2,5-6,5","10,67"
11,2014,Resolução CMN nº 4.095,28/6/2012,"4,5","2,0","2,5-6,5","6,41"
12,2013,Resolução CMN nº 3.991,30/6/2011,"4,5","2,0","2,5-6,5","5,91"
13,2012,Resolução CMN nº 3.880,22/6/2010,"4,5","2,0","2,5-6,5","5,84"
14,2011,Resolução CMN nº 3.748,30/6/2009,"4,5","2,0","2,5-6,5","6,50"
15,2010,Resolução CMN nº 3.584,01/7/2008,"4,5","2,0","2,5-6,5","5,91"
16,2009,Resolução CMN nº 3.463,26/6/2007,"4,5","2,0","2,5-6,5","4,31"
17,2008,Resolução CMN nº 3.378,29/6/2006,"4,5","2,0","2,5-6,5","5,90"
18,2007,Resolução CMN nº 3.291,23/6/2005,"4,5","2,0","2,5-6,5","4,46"
19,2006,Resolução CMN nº 3.210,30/6/2004,"4,5","2,0","2,5-6,5","3,14"
20,2005,Resolução CMN nº 3.108,25/6/2003,"4,5","2,5",2-7,"5,69"
21,2004*,Resolução CMN nº 3.108,25/6/2003,"5,5","2,5",3-8,"7,60"
22,2003*,Resolução CMN nº 2.972,27/6/2002,4,"2,5","1,5-6,5","9,30"
23,2002,Resolução CMN nº 2.744,28/6/2000,"3,5",2,"1,5-5,5","12,53"
24,2001,Resolução CMN nº 2.615,30/6/1999,4,2,2-6,"7,67"
25,2000,NaN,NaN,6,2,4-8,"5,97"
26,1999,NaN,NaN,8,2,6-10,"8,94"

In [4]:
df['ano'] = df['Ano'].str.extract(r'(\d+)').astype(int)

In [5]:
df['meta'] = df['Meta (%)'].str.replace(',', '.').astype(float)

In [6]:
df['tolerancia'] = df['Tamanhodo intervalo +/- (p.p.)'].str.replace(',', '.').astype(float)

In [7]:
df['inflacao_efetiva'] = df['Inflação efetiva(Variação do IPCA, %)'].str.replace(',', '.').astype(float)

In [8]:
df.drop(
    [
        'Inflação efetiva(Variação do IPCA, %)',
    	'Tamanhodo intervalo +/- (p.p.)',
		'Intervalode tolerância (%)',
    	'Meta (%)',
    	'Data',
    	'Norma',
		'Ano',
    ],
    axis=1,
    inplace=True
)

In [9]:
df

     ano  meta  tolerancia  inflacao_efetiva
0   2025  3.00        1.50               NaN
1   2024  3.00        1.50               NaN
2   2023  3.25        1.50              4.62
3   2022  3.50        1.50              5.79
4   2021  3.75        1.50             10.06
5   2020  4.00        1.50              4.52
6   2019  4.25        1.50              4.31
7   2018  4.50        1.50              3.75
8   2017  4.50        1.50              2.95
9   2016  4.50        2.00              6.29
10  2015  4.50        2.00             10.67
11  2014  4.50        2.00              6.41
12  2013  4.50        2.00              5.91
13  2012  4.50        2.00              5.84
14  2011  4.50        2.00              6.50
15  2010  4.50        2.00              5.91
16  2009  4.50        2.00              4.31
17  2008  4.50        2.00              5.90
18  2007  4.50        2.00              4.46
19  2006  4.50        2.00              3.14
20  2005  4.50        2.50              5.69
21  2004  5.50        2.50              7.60
22  2003  4.00        2.50              9.30
23  2002  3.50        2.00             12.53
24  2001  4.00        2.00              7.67
25  2000  6.00        2.00              5.97
26  1999  8.00        2.00              8.94

In [10]:
df.to_parquet('_data/trusted/taxas-inflacao/df.parquet', index=False, engine='fastparquet')
df.to_parquet('_data/refined/taxas-inflacao/df.parquet', index=False, engine='fastparquet')

In [11]:
df.to_csv('_data/trusted/taxas-inflacao/df.csv', index=False)
df.to_csv('_data/refined/taxas-inflacao/df.csv', index=False)